@tailwind base;
@tailwind components;
@tailwind utilities;


.drawer-side a.active {
    color: white;
    background-color: transparent;
}

a.active{
    background-color: transparent;
    color: #DC2751;
    font-weight: 700;
    font-size: 1.2rem;
}
a:focus{
    background-color: transparent !important;
}
.input:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: transparent;
    border-color: #2A2935;
}